* {
  font-family: Verdana, Arial, sans-serif;
  background-color: black;
}

h1 {
  color: White;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  
}

h2 {
font-size: 32px;
font-weight: bold;
color: white;
}

#brush{
background-color: mediumspringgreen;
}

#frame{
background-color: lightcoral;
}

#finnish{
background-color: skyblue;
}

p, li {
  font-size: 18px;
}


.price {
color: blue;
font-weight: bold;
}

